#map {
    height: 98vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .popup-content {
    width: 250px;
  }
  .leaflet-popup-content-wrapper{
    background-color: seashell;
    opacity: 1;
  }

  .leaflet-popup-content {
    max-width: 300px; /* Default is 300px */
    max-height: 425px; /* Default is 300px */
  }
  
  .comments {
    font-size: 1em;
    margin-top: 5px;
    margin-left: 10px;
    max-height: 170px;
    overflow: auto; 
  }
  
  .comment-box {
    margin-top: 5px;
  }
  
  .time {
    font-size: 0.7em;
    margin-top: 5px;
    max-height: 100px;
    text-align: right;
    border-bottom: 0.5px solid black;
  }

  .image{
    height:175px;
    display: block;
    margin: auto;
    }

  @media (prefers-color-scheme: dark) {
    .leaflet-popup-content-wrapper{
      background-color: black;
    }
    .comments {
      color: seashell;
      font-size: 1em;
      margin-top: 5px;
      margin-left: 10px;
      max-height: 170px;
      overflow: auto; 
  
    }
    .time {
      font-size: 0.7em;
      margin-top: 5px;
      max-height: 100px;
      text-align: right;
      border-bottom: 0.5px solid seashell;
    }

/* Inner HTML: base */
.custom-control {
  position: relative;
  }
  .custom-control label {
  display: block;
  margin: 3px 0;
  } 
  .custom-control-hover {
  background: white;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  cursor: pointer;
  }
  
  .custom-content {
  display: none;
  margin-top: 5px;
  }
  
  .custom-control:hover .custom-content {
  display: block;
  background: white;
  }


/* Inner HTML collapsable button */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow-y: auto;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}
  }