/*
######################
####  Map Styles  ####
######################
*/

#map {
    height: 98vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

/*
####  Popup Styles  ####
*/

  .popup-content {
    width: 250px;
  }
  .leaflet-popup-content-wrapper{
    background-color: seashell;
    opacity: 1;
  }

  .leaflet-popup-content {
    max-width: 300px; /* Default is 300px */
    max-height: 425px; /* Default is 300px */
  }
  .title{
    font-size: 20px;
    display: block;
  }

  .label{
    font-size: 16px;
    display: block;
  }
  .comments {
    font-size: 1em;
    margin-top: 5px;
    margin-left: 10px;
    max-height: 170px;
    overflow: auto; 
    display:block;

  }
  
  .comment-box {
    margin-top: 5px;
  }
  
  .time {
    font-size: 0.7em;
    margin-top: 5px;
    max-height: 100px;
    text-align: right;
    border-bottom: 0.5px solid black;
  }

  .image{
    height:175px;
    display: block;
    margin: auto;
    }

/*
####  Popup Styel (Dark Mode)  ####
*/

  @media (prefers-color-scheme: dark) {
    .leaflet-popup-content-wrapper{
      background-color: black;
      color: seashell;
    }
    .comments {
      color: seashell;
      font-size: 1em;
      margin-top: 5px;
      margin-left: 10px;
      max-height: 170px;
      overflow: auto; 
  
    }
    .time {
      font-size: 0.7em;
      margin-top: 5px;
      max-height: 100px;
      text-align: right;
      border-bottom: 0.5px solid seashell;
    }
    a:link {
      color: turquoise;
    }
}

/*
#########################
####   Inner HTML    ####
#########################
*/

/* 
********************
****    Base    ****
********************
  Open up when the carsol hovers on 
*/
    .custom-control {
      position: relative;
      font-size: 10px;
    }
    .custom-control label {
      display: block;
      margin: 3px 0;
    } 
    .custom-control-hover {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor: pointer;
      overflow: auto;
    }
    .custom-content {
      display: none;
      margin-top: 5px;
    }
  
    .custom-control:hover .custom-content {
      display: block;
      background: rgb(177, 165, 155);
    }
  
  
/* 
***********************************
****    Collapsible Buttons    ****
***********************************
    the button that is used to open and close the collapsible content
*/
    

 .control-button-wrapper{
      display: flex;
      border: none;

    }
    .collapsible {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: rgb(164, 163, 163) solid 1px;
      font-size: 14px;
    }
    .collapsible:after {
      content: '\25BC';
      color: rgb(45, 70, 51);
      font-weight: bold;
      float: left;
      margin-left: 5px;
    }
    .active:after {
      content: "\25B2";
    }
    .scrollll{
      overflow: auto;
      height: 100%;
      scrollbar-width: thin;
      }
    .content {
      padding: 0 10px;
      max-height: 0;
      overflow: auto;
      transition: max-height 0.2s ease-out;
      background-color: rgba(251, 236, 225, 0.018);
      scrollbar-width: thin ;
      border: none;

    }
    .button-original-map {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }

    .button {
      background-color: seashell;
      color: black;
      cursor: pointer;
      padding: 5px;
      width: 40px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
    }
    .active, .collapsible:hover, .button:hover {
      background-color: rgb(237, 225, 220);
    }
    .button::after{
      content: "\2795";
      font-size: 15px;
      margin-left: 4px;
    }
    .plain{
      font-size: 16px;
      background-color: seashell;
      padding: 0px;
      display: block;
      border: none;
    }
    .list-button{
      background-color: rgb(237, 225, 220);
      color: black;
      padding: 2 10px;
      width: auto;
      border: none;
      text-align: left;
      outline:  none;
      font-size: 12px;
    }
    .list-button:hover{
      background-color: seashell;
    }
    .list-button:active{
      background-color: rgb(245, 108, 11);
    }
    .list-region{
      font-size: 14px;
      margin: 5px 0px 0px 10px;  
    }
    
  @media (prefers-color-scheme: dark) {

    .collapsible {
      background-color: rgba(251, 236, 225, 0.018);
      color: seashell;
    }    
    .collapsible:after {
      color: rgb(174, 205, 182);
    }
    .content {
      background-color: rgb(57, 54, 50);
    }
    .button-original-map {
      background-color: rgba(251, 236, 225, 0.018);
      color: seashell;
    }    
    .button {
      background-color: rgba(251, 236, 225, 0.018);
      color: seashell;
    }
    .active, .collapsible:hover, .button:hover{
      background-color: rgba(251, 236, 225, 0.018);
    }
    .plain{
      font-size: 16px;
      background-color: rgb(57, 54, 50);
      color: seashell;
    }
    .list-button{
      background-color: rgba(20, 19, 18, 0.87);
      color: seashell;
    }
    .list-button:hover{
      background-color: rgba(251, 236, 225, 0.018);
    }
    .list-button:active{
      background-color: rgb(245, 108, 11);
    }    
  }
      
/* another popup for image*/

  #popupSection {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 75%;
  width: 75%;
  z-index: 1000; /* higher than Leaflet tiles */
  background-color: rgba(255, 245, 238, 0.9);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  cursor:auto;

}
/*Close Section*/
.image-popup-close{
  display: flex;
  justify-content: right; 
  outline: none;
  border: none;
  height:5%;
  background:rgba(255, 245, 238, 0);
}
.large-image-close {
  background-color: rgba(255, 245, 238, 0);
  color: black;
  border: none;
  outline:  none;
  display: flex;
  align-items:center;
  justify-content: right;
  font-size: 20px;
}
.large-image-close-icon{
  height: 100%;
  width: auto;
  display: block;
  color: black;
}

.large-image-div{
  display:flex;
  justify-content: center;
  margin:auto;
  align-items: center;
  height: 90%;
}
.large-image{
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}


/*
####  Popup Styel (Dark Mode)  ####
*/

  @media (prefers-color-scheme: dark) {
  #popupSection{
    background-color: rgba(83, 81, 81, 0.9);
    color: seashell;
  }
  .image-popup-close{
    background-color: rgba(0, 0, 0, 0);
  }
  .large-image-close{
    background-color: rgba(0, 0, 0, 0);
  }
  .large-image-close-icon{
    filter: invert(1);
    background-color: rgba(0, 0, 0, 0);
  }  
}


    .layconContent {
      background: seashell;
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      cursor:auto;
      overflow: auto;
      font-size: 15px;
      margin: 3px 0;
    }


@media (prefers-color-scheme: dark) {
      .custom-control-hover {
      background-color: rgb(57, 54, 50);
      color: seashell;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
      }
    .custom-control:hover .custom-content {
      background-color: rgb(57, 54, 50);
      color: seashell;
    }
    .layconContent {
      background: rgb(57, 54, 50);
      color: seashell;
    }

    .my-custom-button {
      background: rgb(57, 54, 50);
      color: seashell;
    }

}
